body{
    margin: 0;
    font-family: 'Oleo Script', cursive;

    font-size: 20px;
    line-height: normal;
    color: chocolate;
    text-shadow: black 1px 1px 0, black -1px -1px 0,
    black -1px 1px 0, black 1px -1px 0;;
}

h1{
    margin: 0;
}

/* Container */
.container {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}

/* intro */

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 100%;
    height: 100vh;

    background: url("../images/intro.jpg") center no-repeat;
    background-size: cover;
    /*background-color: black;*/
}

.intro_title{
    font-size: 75px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

.intro_inner{
    width: 100%;

    text-align: center;
}

/* header */

.header{
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_logo{
    font-size: 30px;
    font-weight: bold;
    color: aliceblue;
}

.header_inner{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* nav */

.nav{
    font-size: 14px;
    text-transform: uppercase;;
}

.nav_link{
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    position: relative;

    color: aliceblue;
    text-decoration: none;

    transition: color 0.2s linear;
}

.nav_link:after{
    content: "";
    width: 100%;
    height: 3px;
    opacity: 0;

    background-color: blanchedalmond;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: 0.2s;
}

.nav_link:hover{
    color: blanchedalmond;
}

.nav_link:hover:after{
    opacity: 1;
}

/* button */

.btn{
    display: inline-block;
    vertical-align: top;
    padding: 7px 3px;

    border: 2px solid aliceblue;

    color: aliceblue;
    text-transform: uppercase;

    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.2s linear, color 0.2s linear;
}

.btn:hover{
    background-color: aliceblue;
    color: chocolate;
}